# Gmail com senha de app
GMAIL_USER="teste@gmail.com"
GMAIL_APP_PASSWORD="kops pica jais tchu"  # A senha de 16 caracteres gerada

# E-mail de destino (pode ser o mesmo ou outro)
EMAIL_RECIPIENT="teste@gmail.com"

# Token de segurança
API_SECRET_TOKEN="9aa5d1ddd5811eed1a5ca6332117dffad9e2fc52f30fa2f30cc6d741fd93a4c9"
NEXT_PUBLIC_API_CLIENT_TOKEN="9aa5d1ddd5811eed1a5ca6332117dffad9e2fc52f30fa2f30cc6d741fd93a4c9"

NEXT_PUBLIC_FIREBASE_API_KEY=sua_api_key_aqui
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=seu_projeto.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=seu_projeto_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=seu_projeto.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=123456789
NEXT_PUBLIC_FIREBASE_APP_ID=1:123456789:web:abcdef