.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: #38bdf8;
  --rdp-background-color: #1e293b;
  --rdp-accent-color-dark: #0ea5e9;
  --rdp-background-color-dark: #0f172a;
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 3px solid var(--rdp-accent-color);
  --rdp-border: 1px solid #334155;
}

.rdp-day_selected, .rdp-day_selected:focus-visible, .rdp-day_selected:hover {
    background-color: var(--rdp-accent-color) !important;
    color: #fff !important;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
    background-color: #334155 !important;
}

.rdp-button:focus-visible:not([disabled]) {
    border: none !important;
    box-shadow: 0 0 0 2px var(--rdp-accent-color) !important;
}
